main{
    padding: 1.5rem;
}

footer{
    text-align: center;
}
nav a{
    
    color: goldenrod;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    
    
}
body{
    background-color: beige;
}
nav li{
    display: inline-block;

}
nav{
    background-color: rgb(121, 121, 145);
}
nav li:hover{
    color: aliceblue;
    text-decoration: underline;
}